@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 7.2rem;
  }
  h1 {
    font-weight: 700;
    line-height: 140%;
    font-size: 4.4rem;
  }
  h2 {
    font-weight: 700;
    line-height: 140%;
    font-size: 4rem;
  }
  h3 {
    font-weight: 700;
    line-height: 140%;
    font-size: 3.2rem;
  }
  h4 {
    font-weight: 700;
    line-height: 140%;
    font-size: 2.4rem;
  }
  h5 {
    font-weight: 700;
    line-height: 140%;
    font-size: 2rem;
  }
  h6 {
    font-weight: 700;
    line-height: 140%;
    font-size: 1.6rem;
  }
  p {
    line-height: 180%;
    font-weight: 400;
    font-size: 1.6rem;
  }
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Medium.woff2'),
    url('/./assets/fonts/fa/IRANSansXFaNum-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Iransans';
  src: url('./assets/fonts/fa/IRANSansXFaNum-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Iransans';
  src: url('./assets/fonts/fa/IRANSansXFaNum-Thin.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Iransans';
  src: url('./assets/fonts/fa/IRANSansXFaNum-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Iransans';
  src: url('./assets/fonts/fa/IRANSansXFaNum-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Iransans';
  src: url('./assets/fonts/fa/IRANSansXFaNum-DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Iransans';
  src: url('./assets/fonts/fa/IRANSansXFaNum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Iransans';
  src: url('./assets/fonts/fa/IRANSansXFaNum-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

.range-input {
  -webkit-appearance: none;
  outline: none;
  -webkit-transition: 0.2s;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #9747ff;
  cursor: pointer;
  box-shadow: 0px 5px 8px -2px rgba(151, 71, 255, 0.34);
}

.range-input::-moz-range-thumb {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #9747ff;
  cursor: pointer;
  box-shadow: 0px 5px 8px -2px rgba(151, 71, 255, 0.34);
}

[x-cloak] {
  display: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
